<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid mt-5">
      <app-search-form (searchrepo)="searchRepo($event)"></app-search-form>
       <div *ngFor="let github of gituser"  class="container">
         <div class="card">
           <div class="card-header">
             <p></p>
           </div>
           <div class="card-footer">
             <p></p>
           </div>
         </div>
       </div>
    </div>
  </body>
</html>
