<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container-fluid">
    <div class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top pr-3" role="navigation">
     <div class="nav-header">
        <div class="navbar-brand">
          <a>Github App</a>
        </div>
     </div>
     <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
           <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar">
          <ul class="navbar-nav text-white">
             <li class="nav-item active"><a class="text-titlecase active">GithubProfile</a></li>
             <li class="nav-item ml-2"><a class="text-titlecase ">Repositories</a></li>
           </ul>
        </div>
    </div>
  </div>
</body>
</html>
