.container-fluid{
  background-image: url(../assets/images/bg7.jpg);
  position: center;
  background-size: cover;
  height:auto;
  font-family: italic;
}
.welcome{
  margin-top:20%;
  color:white;
  font-family: italic;
}
.overlay{
  background-color: black;
  height: 100vh;
  background-size: cover;
  opacity: 0.9;
}
