.avatar{
  width:80%;
  height:90%;
  padding-top: 5%;
}
.login{
  margin-left: 2%;
  margin-top: 3%;
  font-weight: bold;
  font-family: italic;
}
.bio{
  font-family: italic;
}
.profile-detail li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
}
.profile-detail{
  margin-top: 3%;
}
.profile-detail a{
  color:skyblue;
}
