.user{
  background-color: transparent;
}
.avatar{
  width:80%;
  height:90%;
  padding-top: 5%;
}
.login{
  margin-left: 2%;
  margin-top: 3%;
  font-weight: bold;
  font-family: italic;
}
.bio{
  font-family: italic;
}
.profile-detail li {
  list-style-type: none;
  text-decoration: none;
  display:block;
}
.profile-detail{
  margin-top:5%;
}
.profile-detail a{
  color:skyblue;
}
.number{
  margin-left: 20%;
}
.numbers{
  margin-left: 16%;
}
.date{
  margin-left: 15%;
}
