<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-search-form (searchgit)="searchUser($event)"></app-search-form>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div *ngFor="let github of gituser">
              <div class="avatar">
                <img class="avatar" src="{{github.avatar_url}}" alt="login">
                <p class="login">{{github.login}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
