<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="user">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-search-form (searchgit)="searchUser($event)"></app-search-form>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-5">
      <div class="container-fluid">
        <div *ngFor="let github of gituser" class="row">
          <div class="col-md-4">
            <div>
              <div class="avatar">
                <img class="avatar" src="{{github.avatar_url}}" alt="login">
                <h3 class="login text-white">{{github.login}}</h3>
                <p class="bio text-white">{{github.bio}}</p>
                <p class="bio text-white">{{github.location}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <ul class="profile-detail">
              <p class="text-black card-header bg-light">Repositories<span class="numbers">{{github.public_repos}}</span> </p>
              <p class="text-black card-header bg-light">Followers<span class="number">{{github.followers}}</span> </p>
              <p class="text-black card-header bg-light">Following<span class="number">{{github.following}}</span> </p>
              <p class="text-black card-header bg-light">Created On<span class="date">{{github.created_at|date}}</span> </p>
            </ul>

          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-warning btn-lg reposi" type="button" name="button"><a href="#repos">Repositories</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <section id="repos">
     <div class="container card" id="repos">
       <div *ngFor = 'let arr of httpService.userrepo'>
         <div class="row">
           <div class="col-md-4 bg-dark text-white">
             <p>{{arr.name}}</p>
             <hr>
           </div>
           <div class="col-md-4">
             <a href="#">{{arr.html_url}}</a>

           </div>
           <div class="col-md-4">
             <a href="#">{{arr.description}}</a>

           </div>
         </div>

       </div>
     </div>
   </section>
  </body>
</html>
