<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="mt-5">Search User</h4>
          <div class="box mt-5">
            <form class="mt-5" #name="ngForm">
              <input class="text" type="text" name="search" placeholder="Search..." [(ngModel)]="searchItem">
              <input class=" submit" type="submit" name="submit" value="Search" (click)="searchUser()">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
